<section class="productinfo">
  <div class="product cf" ng-model="products">
    <a href="#/details/{{prevItem}}" class="btn btn-left">&lt;</a>
    <a href="#/details/{{nextItem}}" class="btn btn-right">&gt;</a>
    <h1>{{products[whichItem].productName}}</h1>
    <div class="info">
      <h3>{{products[whichItem].reknown}}</h3>
      <img ng-src="images/{{products[whichItem].productImage}}" alt="Photo of {{products[whichItem].productName}}">
      <div class="size">Size: {{products[whichItem].size}}</div>
      <div class="price">Price: {{products[whichItem].price}}</div>
    </div>
  </div>
  <a href="index.html">&laquo; Back to search</a>
</section>
